@media (max-width: 1400px){}
@media (max-width: 1200px){}
@media (max-width: 1024px){}
@media (max-width: 992px){
    /* ! Navbar ! */
    #menu{
        display: block !important;
    }
}
@media (max-width: 768px){}
@media (max-width: 576px) {}
@media (max-width: 480px){

}
@media (max-width: 414px) {
    /* ! Navbar ! */
    .nav h1{
        font-size: 2.7rem !important;
    }
    .slogan small{
        font-size: .750em;
    }
    .offcanvas.offcanvas-end{
        width: 270px;
    }
    .offcanvas-backdrop.show{
        width: 100% !important;
    }
    .offcanvas .nav-item {
        margin-bottom: 15px;
    }
    .offcanvas-end .offcanvas-body ul .nav-item.dropdown .dropdown-menu > div {
        flex-direction: column !important;
    }
    .offcanvas-end .offcanvas-body ul .nav-item.dropdown .dropdown-menu > div .dropdown-item {
        font-weight: bold;
    }
    .offcanvas-end .offcanvas-body ul .nav-item.dropdown .dropdown-menu > div li {
        margin-bottom: 10px;
    }
    .offcanvas-end .offcanvas-body ul .nav-item.dropdown .dropdown-menu > div li:last-child {
        margin-bottom: 0px;
    }
    /* ! Hero Section ! */
    .hero-background{
        background-size: contain;
        height: 300px !important;
    }
    /* ! News Section ! */
    .news-section .section-title .my-5{
        margin-top: 0 !important;
    }
    /* ! Single News ! */
    .news-details.my-5{
        margin-top: 0 !important;
    }
    /* !  Workers  */
    .workers .services-title .w-25{
        width: 75% !important;
    }
    /* ! Search With SSN ! */
    .inquiries .search-form form.w-50{
        width: 100% !important;
    }
    .inquiries .tab-content .tab-pane#tomb .card .w-25{
        width: 50% !important;
    }
    .inquiries .tab-content .tab-pane#tomb .card .ms-5{
        margin-right: 0px !important;
    }
    .inquiries .tab-content .tab-pane#wedding .card .w-25{
        width: 75% !important;
    }
    .inquiries .tab-content .tab-pane#subscription-tab .card.w-75{
        width: 100% !important;
    }
    .inquiries .tab-content .tab-pane#subscription-tab .card .card-body .card-content{
        padding-left: 10px;
        padding-right: 10px;
    }
    .inquiries .tab-content .tab-pane#subscription-tab .card .card-body .card-content .delay-item.ms-3{
        margin-right: 0 !important;
    }
    .inquiries .subscriber_details{
        flex-direction: column !important;
    }
    .inquiries .card-content{
        flex-direction: column !important;
    }
    /* ! Association Commiites ! */
    .association_details .section-title.w-50{
        width: 100% !important;
    }
    /* ! About ! */
    .about-us .tabs-body .nav-tabs.flex-column{
        flex-direction: row !important;
        justify-content: center;
    }
    .about-us .tabs .nav-tabs{
        overflow-x: scroll !important;
        width: 100%;
        overflow-y: hidden;
        white-space: nowrap;
    }
    /* ! Contact Page ! */
    .contact .contact-details .contact-title.w-25{
        width: 75% !important;
    }
    /* ! Footer ! */
    .footer-item{
        margin-bottom: 30px;
    }
    .footer-item .footer-item-body.mx-5{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .footer-item-body .contact-item.text-center{
        text-align: right !important;
    }
    .contact-item:nth-child(3) p.fs-5 {
        font-size: 1rem !important;
    }
}
@media (min-width: 414px) {
    /* ! NavBar ! */
    header .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item{
        color: #fff;
    }
}
@media (max-width: 375px) {
    /* ! Navbar ! */
    .nav h1{
        font-size: 2.5rem !important;
    }
    /* ! News Section ! */
    .news-section .tab-content .tab-pane .card.mt-5{
        margin-top: 0 !important;
    }
    /* ! Contact Page ! */
    .contact-title.my-5{
        margin-top: 1rem !important;
        margin-bottom: 2rem !important;
    }
    .map iframe{
        width: 100% !important;
        height: 100% !important;
    }
    /* ! Search ! */
    .inquiries .tabs .nav .nav-item .nav-link.fs-4{
        font-size: 1rem !important;
    }
    .inquiries .tabs .nav .nav-item .nav-link.px-5{
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }
    .wedding-cards .card .card-body{
        padding-bottom: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .wedding-cards .card .card-body table{
        margin-bottom: 0 !important;
    }
    .wedding-cards .card .card-body table.mt-3{
        margin-top: 0 !important;
    }
    /* ! Association ! */
    .association_details .section-title.my-5{
        margin-top: 1rem !important;
        margin-bottom: 2rem !important;
    }
    .about-details .details-title{
        margin-top: 2rem;
        text-decoration: underline;
    }
    .details-title.mb-4{
        margin-bottom: 0.8rem !important;
    }
    .about-details p.fs-5{
        font-size: .8rem !important;
        margin-bottom: 0;
    }
    .details-title.mt-5{
        margin-top: 1.5rem !important;
    }
    .association_details .about-img{
        display: none;
    }
    .association_details .about-details ul{
        margin-bottom: 0;
    }
    /* ! Workers ! */
    .workers .services .card .card-body .card-image img{
        width: 50px !important;
        height: 50px !important;
    }
    .workers .services .card .card-body .text-details.p-3{
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-bottom: 0 !important;
    }
    .workers .services .card.mt-5{
        margin-top: 0 !important;
    }
}
@media (max-width: 480px){
    /* ! Navbar ! */
    .nav h1{
        font-size: 2rem !important;
    }
    /* ! About ! */
    /* ! Contact ! */
    .map iframe{
        width: 100%  !important;
        height: 100%  !important;
    }
    /* ! Association ! */
    /* ! Association ! */
    /* ! Association ! */
    /* ! Footer ! */
}
